body{
    font-family: 'Poppins', sans-serif;
    

}
.flexible-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
  
}
.half-width{
    width: 40%;
    padding: 2%;
}
.half-width img{
    width: 50%;
}
#top-heading{
    font-size: 40px;
    border-left: 4px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
    padding-left: 10px;
}

.tomato-color{
    color: tomato;
}
.link-button{
    text-decoration: none;
   background-color: tomato;
   color: white;
   border-radius: 5px;
   padding: 10px 25px;
   
}
h3{
    font-size: 50px;
    text-align: center;
}
.clm{
    float: left;
    width: 25%;
    margin-right: 80px;
   padding-left: 20px;
   border-radius: 20px;
}
.clm img{
    width: 30%;
    height: 50%;
    padding-top: 10px;
   
}
#mission{
   
    background-color: gray;
}
#vision{
    background-color: pink;
}
#goal{
    background-color: rgba(255, 192, 203, 0.411);
}
.development-part{
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
    margin: 50px;
    height: 20px;
  
  
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
    font-style: italic;
}