body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    

}
.flexible-container{
    display: flex;
    height: 400px;
    margin-bottom: 150px;
  
}
#development-part{
    background-image: url(./images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position:  left;
}
#community-part{
    background-image: url(./images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 70%;
}
#top-heading{
    font-size: 40px;
    border-left: 4px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
    padding-left: 10px;
}

.tomato-color{
    color: tomato;
}
.link-button{
    text-decoration: none;
   background-color: tomato;
   color: white;
   border-radius: 5px;
   padding: 10px 25px;
   
}
h3{
    font-size: 40px;
    text-align: center;
}
.mission-column{
    float: left;
    width: 25%;
    margin-right: 80px;
    padding-left: 20px;
    border-radius: 20px;
    margin-left: 12px;
}
.mission-column img{
    width: 30%;
    height: 50%;
    padding-top: 10px;
   
}
#mission{
   
    background-color: gray;
}
#vision{
    background-color: pink;
}
#goal{
    background-color: rgba(255, 192, 203, 0.411);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
    font-style: italic;
}